* {
  color: white;
}

html {
  font-size: 14px;

  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100%;

  position: relative;
  z-index: 0;
}

html::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000B;
  z-index: 1;

  backdrop-filter: blur(0.2rem);
}

body {
  position: relative;
  background-color: transparent;
  z-index: 10;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, 
.btn:active:focus, 
.btn-link.nav-link:focus, 
.form-control:focus, 
.form-check-input:focus,
a:focus-visible {
  box-shadow: 0.05rem 0.05rem 0.375rem 0.1rem rgba(255, 255, 255, 0.744) !important;
  outline: none;
}

header {
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: #0004;

}

svg {
  filter: invert(100%);
}

table {
  background-color: #0004 !important;
}

thead, tbody, th, td {
  background-color: transparent !important;
}

table > tbody > tr:nth-of-type(2n+1) > * {
  background-color: #0004 !important;
}

table > tbody > tr:hover > * {
  background-color: #0008 !important;
}

ul.dropdown-menu {
  background: transparent;
  backdrop-filter: blur(0.4rem);
}

.background {
  height: 100%;
  width: 100%;

  position: absolute;
}

.background-screen {
  background-color: #0008;
  z-index: -1;
}

.bg-screen {
  background-color: #0004 !important;
}

.background-transparent {
  background-color: transparent;
  z-index: -1;
}

.background-blur {
  backdrop-filter: blur(0.2rem);
}

.bg-blur {
  backdrop-filter: blur(0.2rem);
}

.background-blur-2 {
  backdrop-filter: blur(0.4rem);
}

.bg-blur-2 {
  backdrop-filter: blur(0.4rem);
}

.bg-blur-3 {
  backdrop-filter: blur(0.6rem);
}

.bg-blur-4 {
  backdrop-filter: blur(0.8rem);
}

.z-index--10 {
  z-index: -10;
}

.z-index-10 {
  z-index: 10;
}

